<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New User</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="text-gray-900 font-sans">
    <div class="container mx-auto p-8">
        <h1 class="text-2xl font-semibold mb-4">New User</h1>
        <form action="{{ url_for('add_user') }}" method="post">
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-bold">Username for login:</label>
                <input type="text" name="username" id="username" class="border rounded py-2 px-3 w-full" required>
            </div>
            <div class="mb-4">
                <label for="password" class="block text-gray-700 font-bold">Password:</label>
                <input type="password" name="password" id="password" class="border rounded py-2 px-3 w-full" required>
            </div>
            <div class="mb-4">
                <label for="full_name" class="block text-gray-700 font-bold">Complete name:</label>
                <input type="text" name="full_name" id="full_name" class="border rounded py-2 px-3 w-full" required>
            </div>
            <div class="mb-4">
                <label for="birthday" class="block text-gray-700 font-bold">Birthday:</label>
                <input type="date" name="birthday" id="birthday" class="border rounded py-2 px-3 w-full" required>
            </div>

            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-bold">Email:</label>
                <input type="email" name="email" id="email" class="border rounded py-2 px-3 w-full">
            </div>
            <div class="mb-4">
                <label for="avatar" class="block text-gray-700 font-bold">Avatar:</label>
                <select name="avatar" id="avatar" class="border rounded py-2 px-3 w-full" required>
                    <option value="icons/avatar1.png">Avatar 1</option>
                    <option value="icons/avatar2.png">Avatar 2</option>
                    <option value="icons/avatar3.png">Avatar 3</option>
                    <option value="icons/avatar4.png">Avatar 4</option>
                    <option value="icons/avatar5.png">Avatar 5</option>
                    <option value="icons/avatar6.png">Avatar 6</option>
                </select>
                <h3>Avatar 1</h3>
                <img class="user-avatar" src="{{ url_for('static', filename='icons/avatar1.png') }}"width="50" height="50">
                <h3>Avatar 2</h3>
                <img class="user-avatar" src="{{ url_for('static', filename='icons/avatar2.png') }}"width="50" height="50">
                <h3>Avatar 3</h3>
                <img class="user-avatar" src="{{ url_for('static', filename='icons/avatar3.png') }}"width="50" height="50">
                <h3>Avatar 4</h3>
                <img class="user-avatar" src="{{ url_for('static', filename='icons/avatar4.png') }}"width="50" height="50">
                <h3>Avatar 5</h3>
                <img class="user-avatar" src="{{ url_for('static', filename='icons/avatar5.png') }}"width="50" height="50">
                <h3>Avatar 6</h3>
                <img class="user-avatar" src="{{ url_for('static', filename='icons/avatar6.png') }}"width="50" height="50">
            </div>
            <button type="submit" class="bg-green-500 text-white px-3 py-2 rounded">Add</button>
        </form>
    </div>
</body>
</html>
