<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Setup</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
    <link rel="icon" href="/favicon.ico" type="image/png">
    <meta name="theme-color" content="#000000"/>
    <link rel="manifest" href="/manifest.json">
</head>
<body class="text-gray-900 font-sans">
    <div class="container mx-auto p-8">
        <h1 class="text-2xl font-semibold mb-4">Admin Setup</h1>
        <form action="{{ url_for('setup') }}" method="post">
            <div class="mb-4">
                <label for="admin_username" class="block text-gray-700 font-bold">Username for login:</label>
                <input type="text" name="admin_username" id="admin_username" class="border rounded py-2 px-3 w-full" required>
            </div>
            <div class="mb-4">
                <label for="admin_password" class="block text-gray-700 font-bold">Password:</label>
                <input type="password" name="admin_password" id="admin_password" class="border rounded py-2 px-3 w-full" required>
            </div>
            <div class="mb-4">
                <label for="admin_email" class="block text-gray-700 font-bold">Email:</label>
                <input type="email" name="admin_email" id="admin_email" class="border rounded py-2 px-3 w-full">
            </div>
            <div class="mb-4">
                <label for="full_name" class="block text-gray-700 font-bold">Full Name:</label>
                <input type="text" name="full_name" id="full_name" class="border rounded py-2 px-3 w-full" required>
            </div>
            <div class="mb-4">
                <label for="birthday" class="block text-gray-700 font-bold">Birthday:</label>
                <input type="date" name="birthday" id="birthday" class="border rounded py-2 px-3 w-full" required>
            </div>

            <button type="submit" class="bg-green-500 text-white px-3 py-2 rounded">Create Admin Account</button>
        </div>
        </form>
    </div>
    <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/sw.js')
          .then(registration => {
            console.log('ServiceWorker registration successful');
          })
          .catch(err => {
            console.log('ServiceWorker registration failed: ', err);
          });
      });
    }
    </script>
</body>
</html>
