name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build the Docker image (DE)
      run: docker build ./languages/de/docker/ --file Dockerfile --tag giftmanager:$(date +%s)-de
    - name: Build the Docker image (EN)
      run: docker build ./docker/ --file Dockerfile --tag giftmanager:$(date +%s)-en
